* {
    font-family: 'Nunito Sans', sans-serif;
}

main {
    width: 75%;
    height: auto;
    min-height: 900px;
    margin: 0 auto;
}

h1 {
    font-weight: 800;
    font-size: 32px;
}

.dmgTitle {
    font-weight: 600;
}
#mainBox {
    height: auto;
    min-height: 800px;
    border-top: 1px solid black;
}
#dmgCalcsBox {
    width: 65%;
    min-width: 500px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 10px 10px;
}

#dmgColHeadings {
    grid-row: 1;
    grid-column: 1 / 4;
}

#dmgRowRaw {
    grid-row: 2;
    grid-column: 1/ 4;
}

#dmgRowPips {
    grid-row: 3;
    grid-column: 1 / 4;
}

#dmgSrcBox {
    border-right: 1px solid black;
}

#dmgSrcList {
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10%;
}

.dmgSourceContainer {
    height: auto;
    padding-top: 30px;
}


.dmgSource {
    width: 50%;
    margin: 10px 0;
}

.subSrcBox {
    width: 50%;
    margin-top: -20px;
    min-height: 500px;
    height: auto;
    
}
#srcBox {
    width: 100%;
    height: auto;
    min-height: 600px;
    display: flex;
    flex-wrap: nowrap;
}

#modsBox {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    height: auto;
    min-height: 500px;
}

.modBox {
    min-height: 150px;
}


#dataBox {
    width: 100%;
    padding: 10px 10px 10px 0;
    display: flex;
}

#resultsBox {
    width: 100%;
    min-width: 500px;
    height: 165px;
    border-bottom: 1px solid black;
}
#calcButtonBox {
    width: 30%;
    margin: auto;
}

.dmgSourceContainer > h3 {
    height: 50px;
    margin: 0;
}

.optionBox {
    margin-left: -4px;
}

#magicRes {
    margin-left: 2px;
    width: 50px;
}

.modFieldset {
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.modFieldsetItem {
    width: 200px;
}

footer {
    width: 300px;
    margin-top: 3px;
    text-align: center;
}
